<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bootstrap UI Documentation</title>
    <meta name="description" content="Bootstrap UI is a Bootstrap 3 extension for building beautiful web apps user interfaces." />
    <meta name="author" content="VisionApps, s.r.o. [www.visionapps.cz]" />
    <meta name="generator" content="kss" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" type="text/css" />
    <link rel="stylesheet" href="assets/css/bootstrap-ui.min.css?v%VERSION%" type="text/css" />
    <link rel="stylesheet" href="kss-assets/css/kss.min.css?v%VERSION%" type="text/css" />

    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAACXBIWXMAAAsSAAALEgHS3X78AAAB5klEQVRYw82Wv0vDQBTHPwmddNFBV5u1ONT/wP4FbXCxdRJEnAodhYJKB0fRSURREVsXaYqDWxG3QsEO4tp01UEXXePSC7G5pmkuWr/b/Xjf9+577707DYBs3qEPXQwcq9qfGIBvQvPauzscq6rCEWgheB2ryvJiSk4JsHdzy87qSjgXGtl8F0gOWTf1gEWAemIwQJc6V/AHqeUK7oJAQnbMj88v+QZh7XUnZRhL6lE6jISuYjz0Lr0JBbC8mHLnRBIEEgTh4flFjWC3n2WRCbyXHOqawohoqhBoZPM5oB7B1qZRM1SPYOuoIalK8LOahlWUwPrRMRfNx3B5IKp/dm2DTrcHwHlxK1wtDCbOUml7vGLyYmZ6iqeDfQA3kkANgrQ4vLsPH4HQQMsVXOEiaSDUj6yBrIQjayCLJJZyZpIEpko/iAOmPkHnAHWdCSMRZlNQi5LBarW5bD5itdqh3gQn7gC8nczYLPqewrEVkPUZ6fswP0f35PBHJ0wbSd9vINY6HK3Cp3oORLmSTrdHplwJlP9XFUgbC7xfn5Kcn4tfgWE5APB0sE/aWHDH58UtMuXK3ylgv779jxwQZVg6u4o/gFFOrVabvZtbnxqRG9FvQgfsCfq3dRo1o//H/8tAbMCkUTO+AZMSviJnMSU2AAAAAElFTkSuQmCC" />

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43870012-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="site has-navbar-fixed-top">

<div role="alert" class="alert alert-warning offset-bottom-none">
  <div class="container">
    <strong>⚠️ Bootstrap UI is in maintenance mode.</strong>
    There are no plans to upgrade to a higher version of Bootstrap since v4 introduced most of what we missed in v3.
  </div>
</div>

<header role="banner" id="top" class="site-header">

    <!-- Main navigation -->
    <nav class="navbar navbar-fixed-top navbar-primary">
        <div class="container">

            <!-- Brand and menu toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand offset-right-large" title="Bootstrap UI">
                    <span class="hidden-sm">Bootstrap UI</span>
                    <span class="visible-sm-inline" aria-hidden="true">SUI</span>
                </a>
            </div>

            <!-- Collapsible menu -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    {{#each menu}}
                        <li{{#if isActive}} class="active"{{/if}}>
                            <a href="section-{{referenceURI}}.html" class="small text-uppercase text-letterspacing">{{header}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>

        </div><!-- .container -->
    </nav>

</header>

<main role="main" class="site-content">

    {{#if homepage}}
        <section class="section section-header section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class="section-header-title">Bootstrap UI</h1>
                        <h2 class="section-header-subtitle">Documentation</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="cta">
                            <div class="offset-bottom-small">
                                <a href="#install" class="btn btn-transparent text-uppercase text-letterspacing">
                                    <span class="glyphicon glyphicon-save offset-right" aria-hidden="true"></span>
                                    Download
                                </a>
                            </div>
                            <small>Currently %VERSION%</small>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container -->
        </section>
    {{else}}
        {{!
            Display each section, in order.

            The "root" element comes first in this loop, and can be detected using
            the "#if @first" block as seen below.
        }}
        {{#each sections}}
            {{#if @first}}
                <section class="section section-header">
                    <div class="container">
                        <h1 class="section-header-title">{{referenceNumber}}. {{header}}</h1>
                    </div>
                </section>
            {{/if}}
        {{/each}}
    {{/if}}

    <section class="section section-content">
        <div class="container">
            <div class="row">
                <div class="content">

                    {{#if homepage}}
                        <article class="kss__overview">
                        {{{homepage}}}
                    {{else}}
                        <article>

                            <ul class="hidden-md hidden-lg offset-bottom-large kss__secondary-nav__list">
                                {{#if homepage}}
                                {{else}}
                                    {{#each sections}}
                                        {{#if @first}}
                                        {{else}}
                                            <li class="kss__secondary-nav__item--depth-{{depth}}">
                                                <a href="#section-{{referenceURI}}">{{header}}</a>
                                            </li>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            </ul>

                            {{!
                                Display each section, in order.

                                The "root" element comes first in this loop, and can be detected using
                                the "#if @first" block as seen below.
                            }}

                            {{#each sections}}
                                {{#if @first}}
                                {{else}}
                                    <section id="section-{{referenceURI}}" class="kss__section kss__depth--{{depth}}">
                                    <h{{depth}} class="kss__title kss__title--{{depth}}">{{referenceNumber}}&thinsp;—&thinsp;{{header}}</h{{depth}}>
                                {{/if}}

                                {{#if description}}
                                    {{{description}}}
                                {{/if}}

                                {{! Modifiers }}
                                {{#if markup}}
                                    <p class="kss__example-title">Example</p>
                                    <div class="kss__example">
                                        {{{markup}}}
                                    </div>

                                    {{#each modifiers}}
                                        <p><strong>{{name}}</strong></p>
                                        {{{description}}}
                                        <div class="kss__example">{{{markup}}}</div>
                                    {{/each}}

                                    <div class="kss__markup">
                                        <pre class="prettyprint lang-html"><code data-language="html">{{markup}}</code></pre>
                                    </div>

                                {{/if}}

                                {{#if @first}}
                                {{else}}
                                    </section>
                                {{/if}}
                            {{/each}}

                        {{/if}}

                    </article>

                </div>
                <div class="sidebar">

                    <nav class="kss__secondary-nav offset-bottom-large">
                        <ul class="offset-bottom kss__secondary-nav__list">
                            {{#if homepage}}
                                <li><a href="#top"><strong>Bootstrap UI</strong></a></li>
                                <li><a href="#installation">Install</a></li>
                                <li><a href="#usage">Usage</a></li>
                                <li><a href="#customizing">Customizing</a></li>
                                <li><a href="#changelog">Changelog</a></li>
                            {{else}}
                                {{#each sections}}
                                    {{#if @first}}
                                    {{else}}
                                        <li class="kss__secondary-nav__item--depth-{{depth}}">
                                            <a href="#section-{{referenceURI}}">{{header}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        </ul>
                        <a href="#top" class="kss__top-link">&uarr; Top</a>
                    </nav>

                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>

</main>

<footer role="contentinfo" class="footer site-footer">
    <div class="container">
        <div class="row">
            <div class="content">

                © <a href="https://github.com/visionappscz/bootstrap-ui/graphs/contributors" target="_blank">VisionApps team</a> %YEAR%,
                code licensed under <a href="https://github.com/visionappscz/bootstrap-ui/blob/master/LICENSE" target="_blank">MIT</a>
                <span class="footer-divider">|</span>
                <small class="text-muted">Currently %VERSION%</small>
                <span class="footer-divider">|</span>
                <a href="https://github.com/visionappscz/bootstrap-ui" target="_blank">GitHub</a>

            </div>
            <div class="sidebar">

                <a href="http://www.visionapps.cz" target="_blank" class="footer-author" title="Created by VisionApps">
                    <img src="assets/images/visionapps.svg" width="90" height="16" alt="VisionApps" />
                </a>

            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js?v%VERSION%"></script>
<script src="assets/js/moment-with-locales.min.js?v%VERSION%"></script>
<script src="assets/js/bootstrap.min.js?v%VERSION%"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js?v%VERSION%"></script>
<script src="assets/js/select2.js?v%VERSION%"></script>
<script src="assets/js/bootstrap-ui.js?v%VERSION%"></script>
<script src="assets/vendor/ckeditor/ckeditor.js"></script>
<script src="assets/vendor/ckeditor/adapters/jquery.js"></script>
<script src="kss-assets/js/prettify.js?v%VERSION%"></script>
<script>
    // Ensure that all code blocks use syntax highlighter.
    $('pre:not(.prettyprint)').addClass('prettyprint');

    // Run syntax highlighter.
    prettyPrint();

    // Prevent dummy links from navigation.
    $('a[href="#"]').not('.dropdown-toggle').on('click', function () {
        return false;
    });
</script>

</body>
</html>
